:root{
  --mainBrown:#2d1e1f;
  --mainRed:#D81F26;
  --mainRed:#D81F2;
  --mainGreen:#14d80e;
  --mainGrey:#ece8dc;
  --mainWhite:#fff;
  --mainDark:#222;
}

body{
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif 
  !important;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family:"Courier New", Courier, monospace
  !important;
  letter-spacing:0.25rem !important;
}
.text-yellow{
  color:var(--mainYellow);
}
.cart-icon{
  cursor: pointer;
  color: var(--mainYellow);
  font-size:2rem;
}

.default-background{
  min-height: 30vh;
  display:flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5),
  rgba(230, 164, 67, 0.5)); 
  background-position: center;
  background-size:cover;
}

/* changes color of text .btn-yellow */
.btn-yellow{
  
  color:var(--mainGreen);
  border-color: var(--mainRed);
}

.btn-yellow:hover{
  background: var(--mainYellow);
  color:var(--mainBrown);
}

.footer{
  background: var(--mainGreen);
}